<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head><title>JSF Form Page</title></h:head> 
<body> 
	<h:form>
		<h:inputText name= "firstname" value="#{user.firstName}" />
		<br></br>
		<br></br>
		<h:inputText name="lastname" value="#{user.lastName}" />
		<br></br>
		<br></br>
		<h:commandButton action="#{formController.onSubmit(user)}" value="Submit" />
		<b></b><b></b><b></b>
		<h:commandButton action="#{formController.onFlash(user)}" value="Flash" />
	</h:form>

</body> 
</html>
